*.zip
*.psd

# Dependencies
node_modules/

# Astro build output and cache
dist/
.astro/

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor noise
.DS_Store
Thumbs.db